/**
 * @name CustomFontForDiscord
 * @author TomRdh
 * @version 0.0.2
 * @description To change font, change the --customFont (and --codeBlocksCustomFont for code blocks) in the theme file, or if you have the ThemeSettings plugin, click on the Settings button. You can remember your fonts by adding your list at --rememberNormalFonts and --rememberCodeBlockFonts.
 * @source https://github.com/Tomrdh/discord-addons/blob/master/download-themes-here/AlwaysDisplayChannelButtons.theme.css
 * @invite Hx24Fdn
 * @authorId 703638166162112516
*/

@import url("https://tomrdh.github.io/discord-addons/nifn/cfs.css");

:root {
    /* Choose your fonts that will be used for Discord just here */
    --customFont: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif; /* Choose the font here. Separate each font with a comma. The first font will be used first. */
    --codeBlocksCustomFont: Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace; /* Use a different font for code lines/blocks */
	
    /* This is your reminders to avoid using Sticky Notes or another text file. */
    --rememberNormalFonts: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif; /* Remember your fonts here, separate each font with a comma */
    --rememberCodeBlockFonts: Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace; /* And remember your codeblock fonts here */
}

/*
 * More help: https://github.com/Tomrdh/discord-addons/wiki/How-to-use-CustomFont
 */
