/**
 * @name ServerlistAtBottom
 * @author TomRdh
 * @version 0.0.3
 * @description Moves the serverlist at the bottom, like Guilded. Customization available in the theme file!
 * @website https://tomrdh.github.io/da-website/main
 * @source https://github.com/Tomrdh/discord-addons/blob/master/download-themes-here/ServerlistAtBottom
 * @invite v7ECsqT
 * @authorId 703638166162112516
*/

@import url(https://tomrdh.github.io/discord-addons/xcores/themes/SAB_Core.css);

:root {
    /* Custom Settings */
    --serverSize: 40px; /* Size of the ServerIcons and ServerFolders - Theme default: 40px - Discord default: 48px */
    --serverSpacing: 10px; /* Spacing between servers and folders - Default: 10px */

    /* Version */
    --version002_slab: none; /* Do not change plz */
}
