@import url(https://tomrdh.github.io/discord-addons/xcores/tools/TS_Core.css);
:root {
    --theme-name: "Always Display Channel Buttons";
}
.children-Bmpf2Q *,
.children-gzQq2t * {
    display: flex !important;
    opacity: 1 !important;
    visibility: visible !important;
}
.userLimit-64AFxe {
    margin-left: 3px;
}
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div:before {
    display: var(--version001_adcb, block) !important;
}
