/* Blur Account Infos */

@import url(https://tomrdh.github.io/discord-addons/xcores/tools/TS_Core.css);
:root {
    --bai-build: "1";
    --theme-name: "Blur Account Infos";
}
.userSettingsAccount-3wUMIP .viewBody-1l56Sd,
.fieldList-21DyL8 .field-1HUseB span,
.details-2fkb7l .colorHeaderSecondary-3Sp3Ft
{
    filter: blur(var(--blur-amount)) !important;
    transition: var(--fade-out) !important;
    transition-delay: var(--fade-out-delay) !important;
}
.userSettingsAccount-3wUMIP .viewBody-1l56Sd:hover,
.fieldList-21DyL8 .field-1HUseB span:hover,
.details-2fkb7l .colorHeaderSecondary-3Sp3Ft:hover
{
    filter: blur(var(--blur-amount-on-hover)) !important;
    transition: var(--fade-in) !important;
    transition-delay: var(--fade-in-delay) !important;
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div:before {
    display: var(--version-003_bai, block) !important;
}

[id*="BlurAccountInfos"] .bd-addon-header .bd-meta:before {
    content:"build " var(--bai-build) " ";
}
