/* BetterDiscord Light Theme Fixer */

@import url(https://tomrdh.github.io/discord-addons/xcores/tools/TS_Core.css);
:root {
    --bdltf-build: "5";
    --theme-name: "BetterDiscord Light Theme Fixer";
}
.theme-light #bd-settings-sidebar .ui-tab-bar-header {
    color: var(--channels-default);
}
.theme-light .bd-select .bd-select-options {
    color: var(--text-normal);
    background-color: var(--background-primary);
}
.theme-light .bd-search,
.theme-light .bd-select-value,
.theme-light #bd-settings-sidebar .ui-tab-bar-item,
.theme-light #bd-settings-sidebar .ui-tab-bar-item:hover {
    color: var(--text-normal);
}
.theme-light .bd-label {
    color: var(--text-muted);
}
.theme-light .bd-search-wrapper > svg,
.theme-light .bd-select-arrow {
    fill: var(--text-muted);
}
.theme-light .bd-setting-title {
    color: var(--text-normal);
}
.theme-light .bd-setting-note {
    color: var(--text-muted);
}
.theme-light #bd-editor-controls button svg {
    fill: var(--text-normal);
}
.theme-light .checkbox-label.label-JWQiNe {
    color: var(--text-normal);
}
.theme-light .checkbox-3kaeSU .checkboxInner-3yjcPe span {
    border-color: var(--text-muted);
}
.theme-light .bd-search-wrapper {
    color: var(--text-muted);
    background-color: var(--background-tertiary);
}
.theme-light .bd-icon {
    fill: var(--text-normal);
}
.theme-light .bd-icon:hover {
    fill: #000;
}
.theme-light .plugin-input-group .button-collapse {
    border-radius: 6px;
    background-color: var(--text-muted);
}
.theme-light .bd-select .bd-select-option:hover,
.theme-light .bd-select .bd-select-option.selected {
    background-color: var(--background-tertiary);
}
.theme-light .bd-select .bd-select-options {
    border-color: var(--background-tertiary);
}
.theme-light #EditUploadsEditButton span {
    color: var(--text-muted);
}
.theme-light #bd-settings-sidebar .ui-tab-bar-item:hover.selected {
    color: #fff;
}
.theme-light .bd-footnote {
    color: var(--text-muted);
}
.theme-light .bd-server-card {
    background: #00000010;
}
.theme-light .bd-server-name,
.theme-light .bd-server-member-count,
.theme-light .bd-scroller.bd-server-description,
.theme-light .bd-server-tags {
    color: var(--text-normal);
}
.theme-light .bd-server-name {
    font-weight: 900;
}
.theme-light #bd-pub-button {
    background-color: #fff;
    color: var(--text-normal);
}
.theme-light .bd-changelog-button > svg:hover {
    fill: #000;
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div.base-3dtUhz:before {
    display: var(--version003_bdltf, block) !important;
}

[id*="BetterDiscordLightThemeFixer"] .bd-addon-header .bd-meta:before {
    content:"build " var(--bdltf-build) " ";
}
