/* Compact Channels and Memberlist */

@import url(https://tomrdh.github.io/discord-addons/xcores/tools/TS_Core.css);
:root {
    --cc-build: "15";
    --theme-name: "Compact Channels";
}

/* Channels */
#app-mount .sidebar-2K8pFh {
    width: var(--cSize);
    transition: width var(--time);
    transition-delay: var(--delayOut);
}
#app-mount .sidebar-2K8pFh:hover {
    width: var(--cSizeOnHover);
    transition: width var(--time);
    transition-delay: var(--delayIn);
}
.text-2e2ZyG { /* new unreads text */
    text-align: center;
}
.channel-2QD9_O { /* dms */
    max-width: unset !important;
}
.bannerImage-1jOskm,
.bannerImage-3KhIJ6 { /* serverbanner */
    width: var(--cSize);
    transition: width var(--time);
    transition-delay: var(--delayOut);
}
.sidebar-2K8pFh:hover .bannerImage-1jOskm,
.sidebar-2K8pFh:hover .bannerImage-3KhIJ6 { /* serverbanner */
    width: var(--cSizeOnHover);
    transition: width var(--time);
    transition-delay: var(--delayIn);
}
/* Make access to buttons easier */
/* UserPanel */
.horizontal-2EEEnY.flex-1xMQg5 {
    margin-right: calc(var(--cSize) - var(--cSizeOnHover)) !important;
    transition: margin-right var(--time) ease;
    transition-delay: var(--delayOut);
}
.sidebar-2K8pFh:hover .horizontal-2EEEnY.flex-1xMQg5 {
    margin-right: 0 !important;
    transition: margin-right var(--time) ease;
    transition-delay: var(--delayIn);
}
/* UserPlayingPanel */
.actions-aUdUfC {
    margin-right: calc(var(--cSize) - var(--cSizeOnHover)) !important;
    transition: margin-right var(--time) ease;
    transition-delay: var(--delayOut);
}
.sidebar-2K8pFh:hover .actions-aUdUfC {
    margin-right: 0 !important;
    transition: margin-right var(--time) ease;
    transition-delay: var(--delayIn);
}
/* ChannelButtons */
.children-3rEycc,
.children-L002ao,
.children-gzQq2t {
    position: absolute !important;
    right: calc((var(--cSizeOnHover) - var(--cSize)) * -1 + 8px) !important;
    transition: right var(--time) ease;
    transition-delay: var(--delayOut);
}
.sidebar-2K8pFh:hover .children-3rEycc,
.sidebar-2K8pFh:hover .children-L002ao,
.sidebar-2K8pFh:hover .children-gzQq2t {
    right: 8px !important;
    transition: right var(--time) ease;
    transition-delay: var(--delayIn);
}

/* Memberlist */
.membersWrap-2h-GB4 {
    width: var(--mSize);
    position: relative;
    min-width: unset;
    max-width: unset;
    transition: width var(--time) ease;
    transition-delay: var(--delayOut);
}
.members-1998pB {
    width: var(--mSize);
    transition: width var(--time);
    transition-delay: var(--delayOut);
}
.membersWrap-2h-GB4:hover .members-1998pB {
    width: var(--mSizeOnHover);
    transition-delay: var(--delayIn);
}
.membersWrap-2h-GB4 .scrollerWrap-2lJEkd {
    width: var(--mSize);
}
.membersWrap-2h-GB4:hover {
    width: var(--mSizeOnHover);
    transition: width var(--time) ease;
    transition-delay: var(--delayIn);
}
#dv-mount { /* DateViewer */
    width: var(--mSize) !important;
    transition: width var(--time) ease;
    transition-delay: var(--delayOut);
}
.membersWrap-2h-GB4:hover #dv-mount {
    width: var(--mSizeOnHover) !important;
    transition: width var(--time) ease;
    transition-delay: var(--delayIn);
}
.scroller-2FKFPG.members-1998pB {
    max-width: unset;
    min-width: unset;
    width: var(--mSize) + 18px;
    transition-delay: calc(var(--delayOut) + var(--time));
}
.scroller-2FKFPG.members-1998pB:hover {
    width: var(--mSizeOnHover);
    transition-delay: var(--delayIn);
}
.member-3-YXUe {
    max-width: unset;
    min-width: unset;
    width: calc(var(--mSizeOnHover) - 18px);
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div.base-3dtUhz:before {
    display: var(--version004_cc, block) !important;
}

[id*="CompactChannels"] .bd-addon-header .bd-meta:before {
    content:"build " var(--cc-build) " ";
}
