/* Custom Font for Discord */

:root {
    --cffd-build: "9";
	--cf: var(--customFont, Whitney, Whitney Book, Helvetica Neue, Helvetica, Arial, sans-serif);
	--cbcf: var(--codeBlocksCustomFont, Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace);

	--font-display: var(--cf) !important;
}

::-webkit-input-placeholder,
body,
button,
input,
select,
textarea,
* {
	font-family: var(--cf);
}
span[class*="hljs"],
span[class*="hljs"] span,
.codeLine-14BKbG span span span,
code,
.markup-2BOw-j code.inline,
.codeBlockText-9TnoxQ,
.codeLine-14BKbG,
.after_inlineCode-1KfVgj,
.before_inlineCode-1G9rTK,
.inlineCode-2ngu6Y span,
.durationTimeDisplay-jww5fr,
.durationTimeSeparator-2_xpJ7,
.powercord-codeblock-table td,
.maxLength-39QFBo {
	font-family: var(--cbcf);
}

[id*="CustomFont"] .bd-addon-header .bd-meta:before {
    content:"build " var(--cffd-build) " ";
}
