/* ContextMenus Old Style */

@import url(https://tomrdh.github.io/discord-addons/xcores/tools/TS_Core.css);
:root {
    --cos-build: "7";
    --theme-name: "ContextMenus Old Style";
}
.theme-dark .item-1tOPte.labelContainer-1BLJti.colorDefault-2K3EoJ.focused-3afm-j,
.theme-dark .colorDefault-2K3EoJ.focused-3afm-j,
.theme-dark .colorDefault-2K3EoJ:hover:not(.hideInteraction-1iHO1O),
.theme-dark .item-1tOPte.colorDefault-2K3EoJ.focused-3afm-j {
    background: #36393f40;
    background-color: #36393f40;
    color: #b9bbbe;
}
.theme-light .item-1tOPte.labelContainer-1BLJti.colorDefault-2K3EoJ.focused-3afm-j,
.theme-light .colorDefault-2K3EoJ.focused-3afm-j,
.theme-light .colorDefault-2K3EoJ:hover:not(.hideInteraction-1iHO1O),
.theme-light .item-1tOPte.colorDefault-2K3EoJ.focused-3afm-j {
    background: #36393f20;
    background-color: #36393f20;
    color: #4f5660;
}
#app-mount .item-1tOPte.colorDanger-2qLCe1.focused-3afm-j {
    color: #f44b4b;
    background: #f0474730;
    background-color: #f0474730;
}
#app-mount .item-1tOPte.colorBrand-ROmMP1.focused-3afm-j {
    color: #7289da;
    background: #7289da30;
    background-color: #7289da30;
}
#app-mount .item-1tOPte.colorPremium-p4p7qO.focused-3afm-j {
    color: #ff73fa;
    background: #ff73fa30;
    background-color: #ff73fa30;
}
#app-mount .colorPremium-p4p7qO.focused-3afm-j .icon-LYJorE {
    color: #ff73fa;
}
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div.base-3dtUhz:before {
    display: var(--version001_cmos, block) !important;
}
.item-1tOPte.focused-3afm-j#status-picker-online foreignObject {
    color: rgb(67, 181, 129);
}
.item-1tOPte.focused-3afm-j#status-picker-idle foreignObject {
    color: rgb(250, 166, 26);
}
.item-1tOPte.focused-3afm-j#status-picker-dnd foreignObject {
    color: rgb(240, 71, 71);
}
.item-1tOPte.focused-3afm-j#status-picker-invisible foreignObject {
    color: rgb(116, 127, 141);
}
.colorDefault-2K3EoJ.focused-3afm-j .checkbox-3s5GYZ,
.colorDefault-2K3EoJ.focused-3afm-j .radioSelection-1HmrQS,
.colorDefault-2K3EoJ.focused-3afm-j .subtext-13Lvrj {
    color: rgb(var(--accentcolor, 92, 111, 177)) !important;
}
.colorDefault-2K3EoJ.focused-3afm-j .check-1JyqgN {
    color: #fff !important;
}

[id*="ContextMenusOldStyle"] .bd-addon-header .bd-meta:before {
    content:"build " var(--cos-build) " ";
}
