/* ContextMenus Old Style */
/* Fully compatible with BlurpleRecolor! */

@import url(https://tomrdh.github.io/discord-addons/xcores/tools/TS_Core.css);
:root {
    --cos-build: "10";
    --theme-name: "ContextMenus Old Style";
}
.item-1tOPte.labelContainer-1BLJti.colorDefault-2K3EoJ.focused-3afm-j,
.colorDefault-2K3EoJ.focused-3afm-j,
.colorDefault-2K3EoJ:hover:not(.hideInteraction-1iHO1O),
.item-1tOPte.colorDefault-2K3EoJ.focused-3afm-j {
    background: var(--background-modifier-hover);
    background-color: var(--background-modifier-hover);
    color: var(--interactive-normal);
}
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
    background-color: var(--background-modifier-active);
    color: var(--interactive-normal);
}
#app-mount .item-1tOPte.colorDanger-2qLCe1.focused-3afm-j {
    color: #f44b4b;
    background: #f0474730;
    background-color: #f0474730;
}
#app-mount .item-1tOPte.colorBrand-ROmMP1.focused-3afm-j {
    color: rgb(var(--accentcolor, 114, 137, 218));
    background: rgba(var(--accentcolor, 114, 137, 218), 0.19);
    background-color: rgba(var(--accentcolor, 114, 137, 218), 0.19);
}
#app-mount .item-1tOPte.colorPremium-p4p7qO.focused-3afm-j {
    color: rgb(var(--accentcolor, 255, 115, 250));
    background: rgba(var(--accentcolor, 255, 115, 250), 0.19);
    background-color: rgba(var(--accentcolor, 255, 115, 250), 0.19);
}
#app-mount .colorPremium-p4p7qO.focused-3afm-j .icon-LYJorE {
    color: rgb(var(--accentcolor, 255, 115, 250));
}
.item-1tOPte.focused-3afm-j#status-picker-online foreignObject {
    color: rgb(67, 181, 129);
}
.item-1tOPte.focused-3afm-j#status-picker-idle foreignObject {
    color: rgb(250, 166, 26);
}
.item-1tOPte.focused-3afm-j#status-picker-dnd foreignObject {
    color: rgb(240, 71, 71);
}
.item-1tOPte.focused-3afm-j#status-picker-invisible foreignObject {
    color: rgb(116, 127, 141);
}
.colorDefault-2K3EoJ.focused-3afm-j .checkbox-3s5GYZ,
.colorDefault-2K3EoJ.focused-3afm-j .radioSelection-1HmrQS,
.colorDefault-2K3EoJ.focused-3afm-j .subtext-13Lvrj,
.colorDefault-2K3EoJ .checkbox-3s5GYZ,
.colorDefault-2K3EoJ .radioSelection-1HmrQS {
    color: rgb(var(--accentcolor, 92, 111, 177)) !important;
}
.colorDefault-2K3EoJ.focused-3afm-j .check-1JyqgN {
    color: #fff !important;
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div.base-3dtUhz:before {
    display: var(--version001_cmos, block) !important;
}

[id*="ContextMenusOldStyle"] .bd-addon-header .bd-meta:before {
    content:"build " var(--cos-build) " ";
}
