/* Remove Nitro Tab */

:root {
    --rnt-build: "3";
}

.privateChannels-1nO12o .channel-2QD9_O[href="/store"] {
    display: none;
}

[id*="RemoveNitroTab"] .bd-addon-header .bd-meta:before {
    content:"build " var(--rnt-build) " ";
}
