@import url(https://tomrdh.github.io/discord-addons/xcores/tools/TS_Core.css);
:root {
    --theme-name: "Typing at Top of Chat Box";
}
.base-gE7OpD {
    bottom: unset;
    top: -25px;
}
.charCounter-7fw40k {
    bottom: unset;
    top: -20px;
    right: 12px;
}
#bfredux {
    top: -15px !important;
}
.form-2fGMdU {
    margin-top: unset !important;
    padding-top: 0px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.channelTextArea-rNsIhG {
    margin-bottom: 8px;
}
.barBase-1c2Rfb {
    border-radius: 8px;
    margin-bottom: 23px;
    padding-bottom: 0;
}
.barBase-1c2Rfb:active {
    margin-bottom: 21px;
}
/* Update notice config */
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div:before {
    display: var(--version001_tatocb, block) !important;
}
