/* Make access to buttons easier */
/* UserPanel */
.sidebar-2K8pFh .alignStretch-DpGPf3.horizontal-2EEEnY.flex-1xMQg5 {
    margin-right: calc(var(--cSize) - var(--cSizeOnHover)) !important;
    transition: margin-right var(--time) ease;
    transition-delay: var(--delayOut);
}
.sidebar-2K8pFh:hover .alignStretch-DpGPf3.horizontal-2EEEnY.flex-1xMQg5 {
    margin-right: 0 !important;
    transition: margin-right var(--time) ease;
    transition-delay: var(--delayIn);
}
/* ChannelButtons */
.sidebar-2K8pFh .children-3rEycc,
.sidebar-2K8pFh .children-L002ao,
.sidebar-2K8pFh .children-gzQq2t {
    position: absolute !important;
    right: calc((var(--cSizeOnHover) - var(--cSize)) * -1 + 8px) !important;
    transition: right var(--time) ease;
    transition-delay: var(--delayOut);
}
.sidebar-2K8pFh:hover .children-3rEycc,
.sidebar-2K8pFh:hover .children-L002ao,
.sidebar-2K8pFh:hover .children-gzQq2t {
    right: 8px !important;
    transition: right var(--time) ease;
    transition-delay: var(--delayIn);
}
:root {
    --ccbpf-status: " with BtnPositionFix"
}
